@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.flex {
    display: flex;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    /* margin:20px; */
    padding: 30px 70px;
    font-family: 'Poppins', sans-serif;
}
nav {
    justify-content: space-between;
    align-items: center;
}
.logo{
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
.navLinks{
    gap: 90px;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    
}
a{
    text-decoration: none;
    color: rgb(147, 146, 146);
}
.bg-Orange {
    color: #ff4500;
}
nav button{
    padding: 13px 29px;
    border: 1.5px solid black;
    font-weight: 700;    
    background:transparent;
}
nav button:hover{
    color: white;
    box-shadow: 1px 1px 30px rgb(0, 0, 0);
    transition:all 0.5s ease-in-out;
    background: #15131a;
    cursor: pointer;
}
.menuIcon {
    display: none;
}
.userDp{
    display: none;
}
@media screen and (max-width:663px){
    .navLinks {
        display: none;
    }
    header{
        padding:10px 40px;
    }
    nav button {
        display: none;
    }
    .menuIcon{
        display: block;
    }
    .userDp {
        display: block;
        width: 32px;
        height: 25px;
    }
    .logoImg {
        width: 32px;
        height: 21px;
    }
    
}

@media screen and (max-width:910px){
    .navLinks {
        gap:10px;
    }
}

main {
    /* margin: 15px 30px; */
    margin-bottom: 125px;
    padding: 20px 70px;
    justify-content: space-between;
}
.main-content-1{
    font-size: large;
}
section h1{
    font-size: 50px;
    font-weight: 900;
}
section p{
    border-left: 1px solid black;
    padding: 10px;
}
.btnContainer {    
    display: flex;
    width: fit-content;
    gap: 15px;
}
.btn1{
    width: 140px;
    padding: 10px 20px;
    border: 0;
    font-weight: 500;
    /* margin: 10px; */
    background-color: #ff5e00;
    color: #ffffff;
    cursor: pointer;
}
.btn2{
    width: 140px;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: 900;
    /* margin: 10px; */
    background: #ffffff;
    cursor: pointer;
}
.bg-yellow{
    width: 380px;
    height: 390px;
    top:200px;
    right: 85px;
    z-index: 1;
}
.patternImg{
    width: 420px;
    height: 390px;
    top: 180px;
    right:62px;
    z-index:10;
}
.boyImg{
    width: 270px;
    height: 390px;
    top: 200px;
    right: 133px;
    z-index: 2;
    border-radius: 10% 10% 100% 100% / 10% 10% 28% 23%;
}
.curve-arrow{
    width:170px;
    top: 490px;
    left: 430px;
}
.green-arrow{
    width: 20px;
    height: 20px;
    bottom: -50px;
    right: 410px;
}
.circle{
    width: 15px;
    height: 15px;
    bottom: 6px;
    right: 70px;
}
@media screen and (min-width:663px){
    .orange-arrow{
        width: 20px;
        height: 20px;
        top: 180px;
        right: 520px;
    }
}

@media screen and (max-width:663px){
    .orange-arrow{
        width: 20px;
        height: 20px;
        bottom: 120px;
        left: 47px;
    }
    section h1 {
        font-size: 30px;
        white-space: nowrap;
        margin-left: -20px;
    }
    section p{
      margin-left: -20px;
      font-size: 15px;
      white-space: nowrap;
      margin-bottom: 450px;
    }
    .btnContainer{
        margin-top: 500px;
        margin-left: 30px;
    }
    .btn1{
        width: 140px;
        
        margin-top: 40px;
    }
    .btn2{
        width: 140px;
        margin-top: 40px;
    }
    .bg-yellow{
        width: 350px;
        height: 390px;
        top: 410px;
        right: 70px;
        z-index: 1;
    }
    .boyImg{
        width: 250px;
        height: 375x;
        top: 410px;
        right: 115px;
        z-index: 2;
        border-radius: 10% 10% 100% 100% / 10% 10% 28% 23%;
    }
    .patternImg{
        width: 360px;
        height: 390px;
        top: 390px;
        right: 55px;
        z-index: 10;
    }
    .curve-arrow{
        width: 100px;
        top: 910px;
        left: 290px;

    }
    .green-arrow{
        width: 20px;
        height: 20px;
        bottom: -290px;
        left: 130px;
    }
    .circle{
        width: 15px;
        height: 15px;
        bottom: -220px;
        right: 60px;
    }

}

footer{
    width: 100%;
    box-sizing: border-box;
    padding: 25px 70px;
    margin-top: 50px;
    height: auto;
    background-color: #15131a;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;  
    
}

.footer-main h1 {
    font-size: 25px;
    font-weight: 500;
    width: 85%;
}
.footer-main p {
    font-size: 12px;
    color: #d3d3d3;
}
.footer-main{
    margin-right: 65px;
    width: 25%;
   
}
.vector{
    width: 15px;
    height: 15px;
}
.vector-1{
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    background: #0eb14d;
    border-radius: 7px;
    text-align: center;
}
.vector-2{
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    background: #f7471c;
    border-radius: 7px;
    text-align: center;
}
.vector-3{
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 20px;
        height: 20px;
        background-color: #7f119b;
        border-radius: 7px;
        text-align: center;
}
.footer-items h1 {
    font-size: 18px;
    font-weight: 500;
}
.footer-items p {
    width: 60%;
    font-size: 12px;
    color: #d3d3d3;
}

@media screen and (max-width:764px){
    .footer-main h1 {
        font-size: 30px;
        font-weight: 500;
        width: 100%;
        margin-bottom: 0px;
    }
    .footer-main{
        margin-bottom: 20px;
    }
    .footer-items h1{

        margin-bottom: -5px;
    }
    .footer-items p{
        width: 100%;
        font-size: 12px;
        color: #d3d3d3;
        
    }
    footer {
        flex-direction: column;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }
    .footer-main {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 60%;
    }
    .footer-items{
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
        flex-direction: column;
        width: 60%;
    }
}